@model WebApp.ViewModels.Food.FoodIndexVM;

@{
	ViewData["Title"] = "Food list";
}

@section Styles {
	<link rel="stylesheet" href="/css/index.css" />
}

<div class="food-index-container">
    <form asp-action="Index" method="GET">
        <div class="food-toolbar">
            <input asp-for="Q" class="food-search-input" placeholder="Search food" />
            <select asp-for="CategoryId" asp-items="Model.Categories" class="food-category-select">
                <option value="">-- All categories --</option>
            </select>
            <button type="submit" class="btn-search">Search</button>
        </div>
        <div class="food-size-bar">
            Show
            <a asp-action="Index" asp-route-q="@Model.Q" asp-route-categoryId="@Model.CategoryId" asp-route-page="1" asp-route-size="5" class="@(Model.Size == 5 ? "size-link active" : "size-link")">5</a> |
            <a asp-action="Index" asp-route-q="@Model.Q" asp-route-categoryId="@Model.CategoryId" asp-route-page="1" asp-route-size="10" class="@(Model.Size == 10 ? "size-link active" : "size-link")">10</a> |
            <a asp-action="Index" asp-route-q="@Model.Q" asp-route-categoryId="@Model.CategoryId" asp-route-page="1" asp-route-size="30" class="@(Model.Size == 30 ? "size-link active" : "size-link")">30</a>
            Items
        </div>
    </form>

    <div id="foodListPlaceholder">
        <partial name="_FoodListPartial" model="Model" />
    </div>
</div>

@section Scripts {
    <script>
        $("body").on("click", "a.page-link", function (e) {
            e.preventDefault();

            const urlParts = e.target.href.split("?");
            const query = urlParts.length > 1 ? urlParts[1] : null;
            if (query) {
                $("#foodListPlaceholder").load(`/Food/IndexPartial?${query}`);
            } else {
                $("#foodListPlaceholder").load(`/Food/IndexPartial`);
            }
        });
    </script>
}